<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="WebApi.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-WebApi-20160212115618.mdf;Initial Catalog=aspnet-WebApi-20160212115618;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <!-- T530 -->
    <add name="RAMEntities" connectionString="metadata=res://*/EF.RAMModel.csdl|res://*/EF.RAMModel.ssdl|res://*/EF.RAMModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=T530;initial catalog=RAM;persist security info=True;user id=sa;password=12629634Abc;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <!-- KHP 
    <add name="RAMEntities" connectionString="metadata=res://*/EF.RAMModel.csdl|res://*/EF.RAMModel.ssdl|res://*/EF.RAMModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=KHPDatabase;initial catalog=RAM;persist security info=True;user id=KHPRAM;password=KidshelpWC15!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
-->
    <!-- William 
    <add name="RAMEntities" connectionString="metadata=res://*/EF.RAMModel.csdl|res://*/EF.RAMModel.ssdl|res://*/EF.RAMModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=william;initial catalog=RAM;persist security info=True;user id=sa;password=KidshelpWC15!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
-->
    <!-- Dev
    <add name="RAMEntities" connectionString="metadata=res://*/EF.RAMModel.csdl|res://*/EF.RAMModel.ssdl|res://*/EF.RAMModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=RAMPE;initial catalog=RAM;persist security info=True;user id=sa;password=KidshelpWC15!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
 -->
  </connectionStrings>
  <appSettings/>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <authentication mode="None"/>
    <compilation targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
    <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.html">
      <error statusCode="400" redirect="NoAccess.html"/>
      <error statusCode="403" redirect="../NoAccess.html"/>
    </customErrors>
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication"/>
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
    <urlCompression doStaticCompression="true" doDynamicCompression="true"/>
    <defaultDocument>
      <files>
        <remove value="default.aspx"/>
        <remove value="iisstart.htm"/>
        <remove value="index.html"/>
        <remove value="index.htm"/>
        <remove value="Default.asp"/>
        <remove value="Default.htm"/>
        <add value="welcome.html"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <applicationSettings>
    <WebApi.Properties.Settings>
      <setting name="ssl" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="pwd" serializeAs="String">
        <value>K1dsH3lp15</value>
      </setting>
      <setting name="sendfrom" serializeAs="String">
        <value>Resources@kidshelpphone.ca</value>
      </setting>
      <setting name="displayname" serializeAs="String">
        <value>Resources Around Me/Ressources autour de moi</value>
      </setting>
      <setting name="subject" serializeAs="String">
        <value>My Favourites List</value>
      </setting>
      <setting name="host" serializeAs="String">
        <value>10.0.0.69</value>
      </setting>
      <setting name="port" serializeAs="String">
        <value>25</value>
      </setting>
      <setting name="loginname" serializeAs="String">
        <value>Resources</value>
      </setting>
      <setting name="AuthorizeIPAddresses" serializeAs="String">
        <value>::1,127.0.0.1,10.*.*.*, 207.164.226.2, 209.141.156.45, 50.100.14.*</value>
      </setting>
      <setting name="subject_fr" serializeAs="String">
        <value>Mes Signets</value>
      </setting>
      <setting name="AllowDomain" serializeAs="String">
        <value>http://www.kidshelpphone.ca,http://kidshelpphone.ca,https://www.kidshelpphone.ca,https://kidshelpphone.ca,http://www.jeunessejecoute.ca,http://jeunessejecoute.ca,http://www.kidshelpdev.org,http://kidshelpdev.org,http://localhost,https://localhost</value>
      </setting>
    </WebApi.Properties.Settings>
  </applicationSettings>
</configuration>