<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PerScan.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <userSettings>
        <PerScan.Properties.Settings>
            <setting name="default_path" serializeAs="String">
                <value>D:\Users\erjun\Documents\Test\RAM\</value>
            </setting>
            <setting name="default_File" serializeAs="String">
                <value>www</value>
            </setting>
            <setting name="errorletter" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="delimiter" serializeAs="String">
                <value>|</value>
            </setting>
            <setting name="default_Col" serializeAs="String">
                <value>183</value>
            </setting>
        </PerScan.Properties.Settings>
    </userSettings>
</configuration>
