<?xml version="1.0"?>
<!--“WebApi_Root”/swagger/web.config-->
<configuration>
  <system.web>
    <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.html" >
      <error statusCode="403" redirect="../NoAccess.html" />
    </customErrors>
  </system.web>
  <system.webServer>
    <security>
      <ipSecurity allowUnlisted="false">
        <clear/>
        <add ipAddress="127.0.0.1"   allowed="true"/>
        <add ipAddress="209.141.156.45"   allowed="true"/>
        <add ipAddress="207.164.226.2"    allowed="true"/>
        <add ipAddress="50.100.14.91"  allowed="true"/>
        <add ipAddress="50.100.14.193"  allowed="true"/>
        <add ipAddress="10.0.0.0" subnetMask="255.255.0.0" allowed="true"/>
      </ipSecurity>
    </security>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

</configuration>
