@{
    ViewBag.Title = "RAM API Sandbox";
}
@section Styles {
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <link href="~/Content/img/khp50.png" rel="icon" type="image/gif" sizes="32x32" />
    <link href="~/Content/img/favicon-16x16.png" rel="icon" type="image/png" sizes="16x16" />
    <link href="~/Content/swagger/api-explorer.css" rel="stylesheet" />
    <link href="~/Content/swagger/index.css" rel="stylesheet" />
    <link href='~/Content/swagger/print.css' media='print' rel='stylesheet' type='text/css' />
    <link href='~/Content/swagger/reset.css' media='screen' rel='stylesheet' type='text/css' />
    <link href='~/Content/swagger/reset.css' media='print' rel='stylesheet' type='text/css' />
    <link href='~/Content/swagger/screen.css' media='screen' rel='stylesheet' type='text/css' />
    <link href='~/Content/swagger/typography.css' media='screen' rel='stylesheet' type='text/css' />
    <link href="~/Content/swagger/standalone.css" rel="stylesheet" />
}
@section HeaderScripts {
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src='~/Scripts/jquery.slideto.min.js' type='text/javascript'></script>
    <script src='~/Scripts/jquery.wiggle.min.js' type='text/javascript'></script>
    <script src='~/Scripts/jquery.ba-bbq.min.js' type='text/javascript'></script>
    <script src='~/Scripts/handlebars-2.0.0.js' type='text/javascript'></script>
    <script src='~/Scripts/underscore-min.js' type='text/javascript'></script>
    <script src='~/Scripts/backbone-min.js' type='text/javascript'></script>
    <script src='~/Scripts/swagger-ui.js' type='text/javascript'></script>
    <script src='~/Scripts/highlight.7.3.pack.js' type='text/javascript'></script>
    <script src='~/Scripts/marked.js' type='text/javascript'></script>
    <script type="text/javascript">
        $(function () {
            var url = window.location.search.match(/url=([^&]+)/);
            if (url && url.length > 1) {
                url = decodeURIComponent(url[1]);
            } else {
                //url = "http://petstore.swagger.io/v2/swagger.json";
                url = "../swagger/docs/v1";
            }
            window.swaggerUi = new SwaggerUi({
                url: url,
                validatorUrl: null,
                dom_id: "swagger-ui-container",
                supportedSubmitMethods: ['get', 'post', 'put', 'delete', 'patch'],
                onComplete: function (swaggerApi, swaggerUi) {
                    if (typeof initOAuth == "function") {
                        /*
                        initOAuth({
                          clientId: "your-client-id",
                          realm: "your-realms",
                          appName: "your-app-name"
                        });
                        */
                    }

                    $('pre code').each(function (i, e) {
                        hljs.highlightBlock(e)
                    });

                    addApiKeyAuthorization();
                },
                onFailure: function (data) {
                    log("Unable to Load SwaggerUI");
                },
                docExpansion: "none",
                sorter: "alpha"
            });

            function addApiKeyAuthorization() {
                var key = encodeURIComponent($('#input_apiKey')[0].value);
                if (key && key.trim() != "") {
                    var apiKeyAuth = new SwaggerClient.ApiKeyAuthorization("api_key", key, "query");
                    window.swaggerUi.api.clientAuthorizations.add("api_key", apiKeyAuth);
                    log("added key " + key);
                }
            }

            $('#input_apiKey').change(addApiKeyAuthorization);

            // if you have an apiKey you would like to pre-populate on the page for demonstration purposes...
            /*
              var apiKey = "myApiKeyXXXX123456789";
              $('#input_apiKey').val(apiKey);
              addApiKeyAuthorization();
            */

            window.swaggerUi.load();

            function log() {
                if ('console' in window) {
                    console.log.apply(console, arguments);
                }
            }
        });

        $("#validator").css("display", "none");
    </script>
}

<div id='header'>
    <div class="swagger-ui-wrap">
        <a id="logo" href="../Doc/images/khp50.png">Resource Around Me - Kids Help Phone</a>
        <div class="swagger-ui-wrap"></div>
    </div>
</div>
<style>
    .a1 {
        list-style-type: square;
        padding: 3px 25px 3px 0px;
        color: #555555;
    }

    .b1 {
        font-size: 0.9em;
        font-family: Arial;
        line-height: 20px;
        color: #555555;
        padding: 5px 0;
    }
</style>


 
<div class="swagger-ui-wrap" style="padding:50px 0 5px 0;">
    <h1 style="padding:10px 0 15px 0;font-family:Arial;font-size:30px;font-weight:bold;color:#333333;">
        Resources Around Me Application API Sandbox
    </h1>
    <p class="b1">
        The documentation below is a testable description of  the Resource Around Me Application Programming Interface (API).
    </p>

    <ul style="margin:5px;padding:0px 5px 5px 25px;">

        <li class="a1 b1">Click on each item in the list below to expand the section and show the API calls available related to that term. </li>
        <li class="a1 b1">For example; clicking on the list item City will show you API calls to get a list of cities available in Resources Around Me, to narrow down the cities list by province and many more.</li>
        <li class="a1 b1">Expanding each listed API call will show you a sample of how to invoke it on your page. </li>
        <li class="a1 b1">Each example includes a form to test the call and view a result to see if it matches your expectation. Caution: Some results may be quite large and crash your page.</li>
        <li class="a1 b1">Every API call is available in XML or Json. The Json examples are always listed above the XML examples.</li>
    </ul>
    <p class="b1"> If you have requests for further functionality please email the technical team at <a href="mailto:dev@kidshelpphone.ca" >dev@kidshelpphone.ca</a></p>

</div>
<div id="message-bar" class="swagger-ui-wrap">&nbsp;</div>


<section class="content">
    <div id="api2-explorer">
        <div class="swagger-section page-docs" style="zoom: 1">
            <div class="main-section">
                <div id="swagger-ui-container" class="swagger-ui-wrap">
                </div>
            </div>
        </div>
    </div>
</section>


